.background{
    background-image: url(../public/ehotels-background-image.jpg);
    background-size: cover;
    height: 100vh; 
    width: 100vw;
    display: grid; 
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;

}

.absolute_searchbar{
    position: absolute;
    top: 65%;
    display: grid;
    place-items: center;
    gap: 1rem;
}

.center{
    display: grid;
    place-items: center;
    /* row-gap: 1.5rem; */
}

